h1 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center; }

.create-employee-form {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px; }
  .create-employee-form label {
    margin: 5px 0; }
  .create-employee-form input,
  .create-employee-form select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; }
  .create-employee-form input[type="submit"] {
    background-color: #95a5a6;
    cursor: pointer; }
